@import url('https://fonts.googleapis.com/css2? family= Montserrat+Alternates:ital,wght@0,100;1,200 & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #24564b;
}

body {

  height: 100vh;
}


.flex {
  display: flex;
}

/*estilo cabeçalho*/
p{
  color: #efe8e0 ;
  font-family:  'Montserrat Alternates', sem serifa;
  font-size: 30px;
}
p span{
  color:rosybrown;
}
nav{
  height: 50px;
}

.navbar-brand img {
  height: 120px;
  padding-top: 20px;
  padding-left: 40px;
}
nav li{
  padding-left: 70px;
}

.offcanvas-body {
  background:#24564b;
}

.offcanvas-body ul {
  padding: 5px;
}

header li {
  font-size: 30px;

}

header a:hover {
  font-family:  'Montserrat Alternates', sem serifa;
  text-transform: lowercase;

}
.section{
  padding-top: 30px;
}

/*main*/
section .col img{

  height: 50vh;
  width: 50vh;
}
section img {

  height: 50px;
  width: 50px;


}
section h1{
  font-family:  'Montserrat Alternates', sem serifa;
  color: #efe8e0;
}

section {
  display: flex;
  align-items: center;
  padding: 4% 120px;
}

section .topo .topo-new .flex {
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.topo .topo-new p {
  color: #ede6db;
  font-size: 25px;
  line-height: 40px;
  font-family: 'Montserrat Alternates', sem serifa;
}

.topo .topo-new p {
  color: #ede6db;
  margin: 40px 0;
}

/*tecnologias*/

.section {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

}

.flex {
  padding-top: 5%;

}

.section .interfaces p {
  color: #ede6db;
  font-size: 25px;
  line-height: 40px;
  font-family: 'Livvic', sans-serif;
}

.section .interfaces h1 span {
  font-family: 'Montserrat Alternates', sem serifa;
  text-transform: lowercase;
  color: #ed4300;
}



.especialidades-box{
  padding-left: 25px;


}

.especialidades-box img {
  border-radius: 100%;
  padding-top: 4%;
  margin: 10PX;  
}
.especialidades-box img:hover {
  border-radius: 100%;
  padding-top: 4%;
  margin: 10px;
  background-color: #ed4300;
}
/*projeto*/
img .card-img-top{
  height: 70px;
}

footer a{
  text-decoration: none;
  background: none;
}

.card .card-body h5{
  font-family: 'Montserrat Alternates', sem serifa;
  color: greenyellow;
  font-weight: 700;
}
.card .card-body p{
  font-family: 'Montserrat Alternates', sem serifa;
  color:rosybrown;
  font-weight: 700;
}
.card a{
  background-color: #ed4300;
  border:none
  
}
.card a:hover{
  background-color: greenyellow;
  border: #ed4300;
}